# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids

# node_modules
node_modules/

# Distribution / compiled
dist/

# Environment variables
.env
.env.local
.env.*.local

# OS
.DS_Store

# Editor
.vscode/
.idea/
